.menu__add-button:focus {
	outline: 0;
	border: 0;
}

.menu__add-button:hover {
	transition: 0.5s;
	transform: rotate(180deg);
}

.menu__add-goods {
	display: none;
}

.menu__form_open {
	display: block;
}

input {
	margin-bottom: 15px;
	margin-left: 15px;
	padding: 0 10px;
	width: 225px;
	height: 40px;
	border: 1px solid rgba(55,71,79,0.7);
	border-radius: 7px;
	background: none;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	font-size: 16px;
	line-height: 40px;
}

input[type="text"]:focus {
	padding: 0 10px;
	outline: none;
	border: 1px solid rgba(136,14,79,0.7);
}

input[type="submit"] {
	float: right;
	margin-right: 15px;
	width: 100px;
	border: 1px solid rgba(136,14,79,0.7);
	background: none;
	color: rgba(136,14,79,1);
}

input[type="submit"]:hover {
	background: linear-gradient(to top, rgba(136,14,79,.75), rgba(136,14,79,.6));
	color: #FAFAFA;
}


input[type="submit"]:focus {
	outline: none;
	border: 1px solid rgba(136,14,79,0.7);
}
