button.menu__add-button(data-action='form') ✚
.menu__add-goods
  form.form
    input(type='text', name='good-name', placeholder='Наименование')
    input(type='text', name='good-quantity', placeholder='Количество')
    input(data-action='add', type='submit', value='Добавить')
