.menu {
	padding: 20px;
	width: 600px;
	border-radius: 10px;
	background-color: #ECEFF1;
	color: #37474F;
	font-size: 24px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu_open .menu__list {
	display: block;
	padding: 0;
	list-style: none;
}

.menu__item {
	padding-left: 15px;
	border-radius: 5px;
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
}

.menu__item b:before {
	content: " - ";
	font-weight: normal;
}

.menu__item:hover {
	background: #BBDEFB;
	color: #311B92;
}

.menu__title {
	margin-bottom: 10px;
	font-weight: 700;
	cursor: pointer;
}

.menu__title:hover {
	color: #3949AB;
  text-decoration: underline;
}

.menu__list {
	display: none;
}

.menu__remove-button {
	float: right;
	margin-right: 15px;
	border: none;
	background: none;
	color: #ef9a9a;
	font-size: 24px;
	line-height: 35px;
	cursor: pointer;
}

.menu__remove-button:hover {
	transition: 0.5s;
	transform: rotate(180deg);
}

.menu__remove-button:focus {
	outline: 0;
	border: 0;
}
