.menu {
	box-sizing: border-box;
	margin: 25px;
	width: 700px;
	border-radius: 10px;
	background-color: rgba(250,250,250 ,0.9);
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	color: rgba(55,71,79,1);
	font-size: 24px;
	font-family: Helvetica, sans-serif;
}

.menu__list {
	display: none;
}

.menu_open .menu__list  {
	display: block;
	margin: 15px;
}

.menu__title {
	padding-left: 15px;
	border-radius: 10px;
	background: linear-gradient(to top, rgba(136,14,79,.75), rgba(136,14,79,.6));
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	color: #FAFAFA;
	text-shadow: 2px 2px rgba(0,0,0,.2);
	line-height: 50px;
	cursor: pointer;
}

.menu__title:hover {
	text-decoration: underline;
}

.menu__list ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.menu__item {
	padding-left: 15px;
	border-radius: 7px;
	font-size: 18px;
	line-height: 40px;
	cursor: pointer;
}

.menu__item b:after {
	content: " - ";
	font-weight: normal;
}

.menu__item:hover {
	background: rgba(248,187,208 ,.5);
	color: rgba(136,14,79,0.7);
}


.menu__remove-button {
	visibility: hidden;
	float: right;
	margin-right: 15px;
	border: none;
	background: none;
	color: rgba(136,14,79,0.7);
	font-size: 24px;
	line-height: 35px;
	cursor: pointer;
}

.menu__item:hover > .menu__remove-button {
	visibility: visible;
}

.menu__remove-button:hover {
	transition: 0.5s;
	transform: rotate(180deg);
}

.menu__remove-button:focus {
	outline: 0;
	border: 0;
}

.menu__add-button {
	margin-bottom: 15px;
	margin-left: 15px;
	border: none;
	background: none;
	color: rgba(136,14,79,0.7);
	font-size: 26px;
	line-height: 40px;
	cursor: pointer;
}

.menu__add-button:focus {
	outline: 0;
	border: 0;
}

.menu__add-button:hover {
	transition: 0.5s;
	transform: rotate(180deg);
}

.menu__add-goods {
	display: none;
}

.menu__form_open {
	display: block;
}

input {
	margin-bottom: 15px;
	margin-left: 15px;
	padding: 0 10px;
	width: 225px;
	height: 40px;
	border: 1px solid rgba(55,71,79,0.7);
	border-radius: 7px;
	background: none;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	font-size: 16px;
	line-height: 40px;
}

input[type="text"]:focus {
	padding: 0 10px;
	outline: none;
	border: 1px solid rgba(136,14,79,0.7);
}

input[type="submit"] {
	float: right;
	margin-right: 15px;
	width: 100px;
	border: 1px solid rgba(136,14,79,0.7);
	background: none;
	color: rgba(136,14,79,1);
}

input[type="submit"]:hover {
	background: linear-gradient(to top, rgba(136,14,79,.75), rgba(136,14,79,.6));
	color: #FAFAFA;
}


input[type="submit"]:focus {
	outline: none;
	border: 1px solid rgba(136,14,79,0.7);
}
