.menu {
	box-sizing: border-box;
	margin: 1em 1em;
	width: 70vw;
	border-radius: 10px;
	background-color: rgba(250,250,250 ,0.9);
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	color: rgba(55,71,79,1);
	font-size: 1.5em;
}

.menu:after{
    display:table;
    clear:both;
    content:'';
}

.menu__list {
	display: none;
}

.menu_open .menu__list  {
	display: block;
	margin: 1em 1em;
}

.menu__title {
	padding-left: 1em;
	min-height: 2em;
	border-radius: 10px;
	background: rgba(136,14,79,0.7);
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	color: #FAFAFA;
	text-shadow: 2px 2px rgba(0,0,0,.2);
	line-height: 2em;
	cursor: pointer;
}

.menu__title:hover {
	text-decoration: underline;
}

.menu__list ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.menu__item {
	padding-left: 1em;
	border-radius: 7px;
	font-size: 1em;
	line-height: 2em;
	cursor: pointer;
}

.menu__item b:after {
	content: " – ";
	font-weight: normal;
}

.menu__item:hover {
	background: rgba(248,187,208 ,.5);
	color: rgba(136,14,79,0.7);
}


.menu__remove-button {
	visibility: hidden;
	float: right;
	margin: 0 1em;
	outline: none;
	border: none;
	background: none;
	color: rgba(136,14,79,0.7);
	font-size: 1em;
	line-height: 1.75em;
	cursor: pointer;
}

.menu__item:hover > .menu__remove-button {
	visibility: visible;
}

.menu__remove-button:hover {
	transition: 1.25s;
	transform: rotate(360deg);
}
